<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
    <!-- Database settings -->
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/note_taking</property>
    <property name="hibernate.connection.username">postgresAC</property>
    <property name="hibernate.connection.password">AC_NT15</property>

    <!-- Specify dialect -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

    <!-- Enable Hibernate's automatic session context management -->
    <property name="hibernate.current_session_context_class">thread</property>

    <!-- Echo all executed SQL to stdout -->
    <property name="hibernate.show_sql">true</property>


    <!-- Drop and re-create the database schema on startup -->
    <property name="hibernate.hbm2ddl.auto">update</property>

    <!-- Specify the mapping files -->
    <mapping class="io.github.alicarpio.domain.models.User"/>

    <!-- <mapping resource="com/example/model/Employee.hbm.xml"/> -->
</session-factory>
</hibernate-configuration>
